vendor/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.idea/.gitignore
.idea/go-generic-example.iml
.idea/modules.xml
.idea/vcs.xml
.vscode/settings.json
